body {
  font-family: Handjet, 'Courier New', Courier, monospace;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.list-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header-item {
  display: flex;
  margin: 10px 30px 10px 30px;
  gap: 10px;
  font-size: 25px;
}
.header-name {
  font-size: 40px;
}
@media only screen and (max-width: 580px) {
  .header-item {
    font-size: 20px;
  }
  .header-name {
    font-size: 30px;
  }
}
.header-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(146, 75, 75);
  align-items: center;
  flex: 3 1 0;
}

.page-center {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  background-color: lightgrey;
  height: 100vh;
}
.hero-container {
  display: flex;
  background-color: rgb(224, 190, 186);
  flex: 1 1 auto;
  justify-content: center;
}
.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 550px;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.footer {
  display: flex;
  background-color: darkgray;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.info-container {
  display: flex;
}

img {
  height: 280px;
  width: 245px;
  border: 3px solid rgb(146, 75, 75);
  border-radius: 30%;
  margin: 5px;
}
