.list-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-style {
  text-decoration: none;
}

.header {
  gap: 10px;
  font-size: 18px;
}

.page-center {
  display: flex;
  justify-content: center;
}
