body {
  font-family: Handjet, 'Courier New', Courier, monospace;
}
.list-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-style {
  text-decoration: none;
}

.header {
  gap: 10px;
  font-size: 25px;
}

.page-center {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 45px;
  margin: 15px;
}
